{% extends 'SixtyNineCoreBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block css %}
    {% stylesheets
        'assets/my-spectre.css'
        'assets/vendor/font-awesome/css/font-awesome.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
    {% stylesheets filter="scssphp" output="css/style.css" '@SixtyNineCloudBundle/Resources/scss/main.scss' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}

    <form class="login" action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Clouder</h4>
                <h6 class="card-subtitle">Create clouds of words</h6>
                {% if error %}
                    <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

            </div>
            <div class="card-body">

                <div class="form-group">
                    <label class="form-label" for="username">{{ 'security.login.username'|trans }}</label>
                    <input class="form-input" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>

                <div class="form-group">
                    <label class="form-label" for="password">{{ 'security.login.password'|trans }}</label>
                    <input class="form-input" type="password" id="password" name="_password" required="required" />
                </div>

                <div class="form-group">
                    <label class="form-checkbox">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <i class="form-icon"></i> {{ 'security.login.remember_me'|trans }}
                    </label>
                </div>

                <div class="form-group text-right">
                    <input type="submit" class="btn" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                </div>

            </div>
        </div>
    </form>


{% endblock %}