<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="ie8 no-js"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <title>
        PHP Cloud{% if pageTitle is defined and pageTitle != '' %} | {% endif %}{{ pageTitle | default('') }}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    {% stylesheets
        'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
        'assets/vendor/datatables/media/css/jquery.dataTables.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}

    {% stylesheets filter="scssphp" output="css/style.css"
        '@SixtyNineCloudBundle/Resources/scss/main.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}

    <link rel="shortcut icon" href="favicon.ico"/>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">PHP Cloud</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">

        <h1 class="page-title">
            {{ pageHeader | default('') }}
            <small>{{ pageSubHeader | default('') }}</small>
        </h1>

        {%- include 'SixtyNineCloudBundle:Components:breadcrumb.html.twig' -%}

        {%  block body %}{% endblock %}

    </div><!-- /.container -->

    {% javascripts output='vendors.js'
        'assets/vendor/jquery/dist/jquery.min.js'
        'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
        'assets/vendor/datatables/media/js/jquery.dataTables.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascripts %}{% endblock %}

</body>
</html>
