{% extends 'SixtyNineCoreBundle::layout.html.twig' %}

{% set appTitle = 'Clouder' | trans  %}
{% set fosRouting = true  %}

{% block css %}
    {% stylesheets
        'assets/vendor/spectre.css/dist/spectre.css'
        'assets/vendor/font-awesome/css/font-awesome.css'
        'assets/vendor/huebee/dist/huebee.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}

    {% stylesheets filter="scssphp" output="css/style.css"
        '@SixtyNineCloudBundle/Resources/scss/main.scss' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
{%- include 'SixtyNineCloudBundle:Components:navbar.html.twig' -%}

    <section class="container grid-960">
        <h3 class="page-header">
            {{ pageHeader | default('') }}
            <small>{{ pageSubHeader | default('') }}</small>
        </h3>

        <section class="buttons">
            {% block buttons %}{% endblock %}
        </section>

        {% block body %}{% endblock %}
    </section>

{% endblock %}

{% block js %}
    {% javascripts output='vendors.js'
        'assets/vendor/jquery/dist/jquery.min.js'
        'assets/vendor/jquery-ui/jquery-ui.js'
        'assets/vendor/underscore/underscore-min.js'
        'assets/vendor/backbone/backbone-min.js'
        'assets/vendor/backbone.radio/build/backbone.radio.js'
        'assets/vendor/backbone.marionette/lib/backbone.marionette.js'
        'assets/vendor/huebee/dist/huebee.pkgd.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascripts %}{% endblock %}
{% endblock %}
