<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"><![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8"/>
    <title>
        PHP Cloud{% if pageTitle is defined and pageTitle != '' %} | {% endif %}{{ pageTitle | default('') }}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    {% stylesheets
        'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
        'assets/vendor/datatables/media/css/jquery.dataTables.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}

    {% stylesheets filter="scssphp" output="css/style.css"
        '@SixtyNineCloudBundle/Resources/scss/main.scss' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}

    <link rel="shortcut icon" href="favicon.ico"/>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

</head>

<body>

{%- include 'SixtyNineCloudBundle:Components:navbar.html.twig' -%}

<div class="container">


    {%- include 'SixtyNineCloudBundle:Components:breadcrumb.html.twig' -%}

    <div class="row">
        <div class="col-sm-5">
            <h1 class="page-header">
                {{ pageHeader | default('') }}
                <small>{{ pageSubHeader | default('') }}</small>
            </h1>
        </div>
        <div class="col-sm-7">
            <div class="pull-right">
                {% block buttons %}{% endblock %}
            </div>
        </div>
    </div>

    {% block body %}{% endblock %}

</div>

    {% javascripts output='vendors.js'
        'assets/vendor/jquery/dist/jquery.min.js'
        'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
        'assets/vendor/datatables/media/js/jquery.dataTables.js'
        'assets/vendor/underscore/underscore-min.js'
        'assets/vendor/backbone/backbone-min.js'
        'assets/vendor/backbone.radio/build/backbone.radio.js'
        'assets/vendor/backbone.marionette/lib/backbone.marionette.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascripts %}{% endblock %}

</body>
</html>
