<script type="text/javascript">

    var SnCloud = {
        Models: {},
        Views: {},
        config: {}
    };

    SnCloud.config.translations = {
        areYouSure: '{{ 'Are you sure ?' | trans }}'
    };

    SnCloud.fn = {
        confirm: function (message) {
            return new SnCloud.Views.ModalConfirmView({message: message}).getPromise();
        }
    };

</script>

{% javascripts output='app.js'
    'bundles/sixtyninecloud/js/Models/*.js'
    'bundles/sixtyninecloud/js/Views/*.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/template" id="sn-cloud-modal-confirm-template">
    <div class="modal active" data-id="are-you-sure">
        <div class="modal-overlay"></div>
        <div class="modal-container">
            <div class="modal-header">
                <div class="modal-title">{{ 'Are you sure?' | trans }}</div>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary ok">{{ 'Yes' | trans }}</button>
                <button class="btn nok">{{ 'No' | trans }}</button>
            </div>
        </div>
    </div>
</script>
