<script type="text/javascript">

    var SnCloud = {
        Models: {},
        Views: {},
        config: {}
    };

    SnCloud.config.translations = {
        areYouSure: '{{ 'Are you sure ?' | trans }}'
    };

    SnCloud.fn = {

        /**
         * Show a confirmation dialog and return a promise that is resolved when the
         * Yes button is clicked or rejected when the No button is clicked.
         */
        confirm: function (message) {
            return new SnCloud.Views.ModalConfirmView({message: message}).getPromise();
        },

        /**
         * Return a promise that is resolved when the document is ready.
         */
        startup: function () {
            var p = $.Deferred();
            $(function () {
                SnCloud.showSpinner();
                // Add a "then" callback just before resolving the promise so that it is the last one called.
                p.then(function () {
                    SnCloud.hideSpinner();
                });
                p.resolve();
            });
            return p;
        }
    };

</script>

{% javascripts output='app.js'
    'bundles/sixtyninecloud/js/Models/*.js'
    'bundles/sixtyninecloud/js/Views/*.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/template" id="sn-cloud-modal-confirm-template">
    <div class="modal active" data-id="are-you-sure">
        <div class="modal-overlay"></div>
        <div class="modal-container">
            <div class="modal-header">
                <div class="modal-title">{{ 'Are you sure?' | trans }}</div>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary ok">{{ 'Yes' | trans }}</button>
                <button class="btn nok">{{ 'No' | trans }}</button>
            </div>
        </div>
    </div>
</script>
