<section class="section section-header bg-gray">
    <section class="grid-header container grid-960">
        <header class="navbar">
            <section class="navbar-primary col-3 clouder-logo">
                <a href="{{ path('sn_cloud_home') }}" class="navbar-brand mr-10 btn btn-link">
                    <i class="fa fa-cloud"></i> {{ appTitle }}
                </a>
            </section>
            <section class="navbar-section col-8 text-right">
                <a href="{{ path('sn_words_list') }}" class="btn btn-link">{{ 'My lists' | trans }}</a>
                <a href="{{ path('sn_cloud_index') }}" class="btn btn-link">{{ 'My clouds' | trans }}</a>
                <a href="{{ path('sn_settings') }}" class="btn btn-link">{{ 'Settings' | trans }}</a>
                <a href="{{ path('fos_user_profile_show') }}" class="btn btn-link">{{ 'Profile' | trans }}</a>
            </section>
        </header>
    </section>
</section>
