{% extends 'SixtyNineCloudBundle::layout.html.twig' %}

{% set curPage = 'words' %}
{% set pageTitle = 'Create words list' | trans  %}
{% set pageHeader = 'Words List' | trans  %}
{% set pageSubHeader = 'Create' | trans  %}
{% set breadcrumb = [
    { title: 'Home' | trans , url: path('sn_words_home') }
] %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="pull-right">
        <a href="#" class="btn btn-default">{{ 'Cancel' | trans }}</a>
        <input type="submit" class="btn btn-primary" value="{{ 'Create' | trans }}" />
    </div>
    {{ form_end(form) }}
{% endblock %}
