{% extends 'SixtyNineCloudBundle::layout.html.twig' %}

{% set curPage = 'words' %}
{% set pageTitle = 'View Words Lists' | trans %}
{% set pageHeader = 'Words List' | trans %}
{% set pageSubHeader = 'View' | trans %}
{% set breadcrumb = [
    { title: 'Home' | trans , url: path('sn_words_home') },
    { title: 'Words Lists' | trans }
] %}

{% block body %}

    <table class="words-list">
        <thead>
        <tr>
            <th>{{ 'Name' | trans }}</th>
            <th>{{ 'Word count' | trans }}</th>
            <th>{{ 'Actions' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for list in lists %}
            <tr>
                <td>{{ list.name }}</td>
                <td>{{ list.words.count }}</td>
                <td>
                    <a href="{{ path('sn_words_view', {'id': list.id }) }}" class="btn btn-info btn-xs">
                        {{ 'Words' | trans }}
                    </a>
                    <a href="{{ path('sn_words_remove', {'id': list.id }) }}" class="btn btn-danger btn-xs">
                        {{ 'Remove' | trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}

    {%- include 'SixtyNineCloudBundle:Components:js-startup.html.twig' -%}

    <script type="text/javascript">
        $(function () {
            var collection = new SnCloud.Models.ListCollection();
            collection.fetch().then(function () {
                collection.each(function (item) {
                    console.log(item);
                });
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('table.words-list').dataTable();
        });
    </script>

{% endblock %}
