{% extends 'SixtyNineCloudBundle::layout.html.twig' %}

{% set curPage = 'words' %}
{% set pageTitle = 'View Lists' | trans %}
{% set pageHeader = 'My Lists' | trans %}

{% block buttons %}
    <a href="{{ path('sn_words_new') }}" class="btn btn-sm">
        {{ 'Create a new list' | trans }}
    </a>
{% endblock %}

{% block body %}

    <table class="table table-striped words-list">
        <thead>
            <tr>
                <th>{{ 'Name' | trans }}</th>
                <th>{{ 'Word count' | trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
{% endblock %}

{% block javascripts %}

    {%- include 'SixtyNineCloudBundle:Components:js-startup.html.twig' -%}

    <script type="text/template" id="sn-cloud-word-list-item-template">
        <td><%= name %></td>
        <td><%= count %></td>
        <td>
            <div class="btn-group">
                <button data-role="view-words" class="btn btn-sm tooltip" data-tooltip="{{ 'View words' | trans }}">
                    <i class="fa fa-align-justify"></i>
                </button>
                <button data-role="duplicate" class="btn btn-sm tooltip" data-tooltip="{{ 'Duplicate list' | trans }}">
                    <i class="fa fa-copy"></i>
                </button>
                <button data-role="remove-list" class="btn btn-sm tooltip" data-tooltip="{{ 'Remove list' | trans }}">
                    <i class="fa fa-close"></i>
                </button>
            </div>
        </td>
    </script>

    <script type="text/template" id="sn-cloud-no-list-template">
        <td colspan="3">
            <div class="empty">
                <div class="empty-icon">
                    <i class="fa fa-cloud"></i>
                </div>
                <h4 class="empty-title">{{ 'You have no lists' | trans }}</h4>
                <p class="empty-subtitle">{{ 'Click the button to create one' | trans }}</p>
                <div class="empty-action">
                    <a href="{{ path('sn_words_new') }}" class="btn">
                        {{ 'Create a new list' | trans }}
                    </a>
                </div>
            </div>
        </td>
    </script>

    <script type="text/javascript">

        SnCloud.showSpinner();

        $(function () {

            var collection = new SnCloud.Models.ListCollection();
            collection.fetch().then(function () {

                SnCloud.hideSpinner();

                new SnCloud.Views.ListsView({
                    collection: collection
                }).render();

            });

        });
    </script>

{% endblock %}
