{% extends 'SixtyNineCloudBundle::layout.html.twig' %}

{% set curPage = 'words' %}
{% set pageTitle = 'View Words Lists' | trans %}
{% set pageHeader = 'Words List' | trans %}
{% set pageSubHeader = 'View' | trans %}
{% set breadcrumb = [
    { title: 'Home' | trans , url: path('sn_words_home') },
    { title: 'Words Lists' | trans }
] %}

{% block body %}

    <table class="table table-striped table-condensed words-list">
        <thead>
            <tr>
                <th>{{ 'Name' | trans }}</th>
                <th>{{ 'Word count' | trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
{% endblock %}

{% block javascripts %}

    {%- include 'SixtyNineCloudBundle:Components:js-startup.html.twig' -%}

    <script type="text/template" id="sn-cloud-word-list-item-template">
        <td><%= name %></td>
        <td><%= count %></td>
        <td>
            <button data-role="view-words" class="btn btn-default btn-xs" title="{{ 'View words' | trans }}">
                <i class="glyphicon glyphicon-align-justify"></i>
            </button>
            <button data-role="remove-list" class="btn btn-danger btn-xs" title="{{ 'Remove list' | trans }}">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
            <button data-role="duplicate" class="btn btn-default btn-xs" title="{{ 'Duplicate list' | trans }}">
                <i class="glyphicon glyphicon-duplicate"></i>
            </button>
        </td>
    </script>

    <script type="text/javascript">

        SnCloud.showSpinner();

        $(function () {

            var collection = new SnCloud.Models.ListCollection();
            collection.fetch().then(function () {

                SnCloud.hideSpinner();

                new SnCloud.Views.ListsView({
                    collection: collection
                }).render();

            });

        });
    </script>

{% endblock %}
