{% extends 'SixtyNineCloudBundle::layout.html.twig' %}

{% set curPage = 'words' %}
{% set pageTitle = 'View Lists' | trans %}
{% set pageHeader = 'My Lists' | trans %}

{% block buttons %}
    <a href="{{ path('sn_words_new') }}" class="btn btn-sm">
        {{ 'Create a new list' | trans }}
    </a>
{% endblock %}

{% block body %}
<section class="lists">

</section>
{% endblock %}

{% block javascripts %}

    {%- include 'SixtyNineCloudBundle:Components:js-startup.html.twig' -%}

    <script type="text/template" id="sn-cloud-word-list-item-template">
        <div class="tile tile-centered">
            <div class="tile-icon">
                <div class="example-tile-icon">
                    <i class="fa fa-list centered"></i>
                </div>
            </div>
            <div class="tile-content">
                <div class="tile-title"><%= name %></div>
                <div class="tile-subtitle"><%= count %> words</div>
            </div>
            <div class="tile-action btn-group">
                <button data-role="view-words" class="btn">
                    {{ 'View words' | trans }}
                </button>
                <button data-role="edit" class="btn">
                    {{ 'Edit' | trans }}
                </button>
                <button data-role="duplicate" class="btn">
                    {{ 'Duplicate' | trans }}
                </button>
                <button data-role="remove-list" class="btn">
                    {{ 'Remove' | trans }}
                </button>
            </div>
        </div>
{#
        <td><%= name %></td>
        <td><%= count %></td>
        <td>
            <div class="btn-group">
                <button data-role="view-words" class="btn btn-sm tooltip" data-tooltip="{{ 'View words' | trans }}">
                    <i class="fa fa-align-justify"></i>
                </button>
                <button data-role="duplicate" class="btn btn-sm tooltip" data-tooltip="{{ 'Duplicate list' | trans }}">
                    <i class="fa fa-copy"></i>
                </button>
                <button data-role="remove-list" class="btn btn-sm tooltip" data-tooltip="{{ 'Remove list' | trans }}">
                    <i class="fa fa-close"></i>
                </button>
            </div>
        </td>
#}
    </script>

    <script type="text/template" id="sn-cloud-no-list-template">
        <div class="empty">
            <div class="empty-icon">
                <i class="fa fa-cloud"></i>
            </div>
            <h4 class="empty-title">{{ 'You have no lists' | trans }}</h4>
            <p class="empty-subtitle">{{ 'Click the button to create one' | trans }}</p>
            <div class="empty-action">
                <a href="{{ path('sn_words_new') }}" class="btn">
                    {{ 'Create a new list' | trans }}
                </a>
            </div>
        </div>
    </script>

    <script type="text/javascript">

        SnCloud.showSpinner();

        $(function () {

            var data = [
                {% for list in lists -%}
                {
                    id: {{ list.id }},
                    name: '{{ list.name }}',
                    count: {{ list.words.count }}
                },
                {% endfor -%}
            ];

            new SnCloud.Views.ListsView({
                collection: new SnCloud.Models.ListCollection(data)
            }).render();

            SnCloud.hideSpinner();
        });
    </script>

{% endblock %}
