{% extends 'SixtyNineCloudBundle::layout.html.twig' %}

{% set curPage = 'cloud' %}
{% set pageTitle = 'List clouds' | trans  %}
{% set pageHeader = 'My Clouds' | trans  %}

{% block buttons %}
    <a href="{{ path('sn_cloud_create') }}" class="btn btn-sm">
        {{ 'Create a new cloud' | trans }}
    </a>
{% endblock %}

{% block body %}
<section class="clouds"></section>
{% endblock %}


{% block javascripts %}

    {%- include 'SixtyNineCloudBundle:Components:js-startup.html.twig' -%}

    <script type="text/template" id="sn-cloud-item-template">
        <div class="tile tile-centered">
            <div class="tile-icon">
                <div class="example-tile-icon">
                    <a href="#" data-role="view">
                        <img src="<%= imageUrl %>" />
                    </a>
                </div>
            </div>
            <div class="tile-content">
                <div class="tile-title">
                    List "<%= list %>" ·
                    <%= words %> words
                </div>
                <div class="tile-subtitle">Created at <%= createdAt %></div>
            </div>
            <div class="tile-action btn-group">
                <a href="#" class="btn" data-role="regenerate">
                {{ 'Regenerate' | trans }}
            </a>
                <a href="#" class="btn" data-role="edit">
                {{ 'Edit' | trans }}
            </a>
                <a href="#" class="btn" data-role="remove">
                {{ 'Remove' | trans }}
            </a>
            </div>
        </div>
    </script>

    <script type="text/template" id="sn-cloud-no-item-template">
        <div class="empty">
            <div class="empty-icon">
                <i class="fa fa-cloud"></i>
            </div>
            <h4 class="empty-title">{{ 'You have no clouds' | trans }}</h4>
            <p class="empty-subtitle">{{ 'Click the button to create one' | trans }}</p>
            <div class="empty-action">
                <a href="{{ path('sn_cloud_create') }}" class="btn">
                    {{ 'Create a new cloud' | trans }}
                </a>
            </div>
        </div>
    </script>

    <script type="text/javascript">

        var data = [
            {% for cloud in clouds -%}
            {
                id: {{ cloud.id }},
                list: '{{ cloud.list.name }}',
                words: {{ cloud.list.words | length }},
                createdAt: '{{ cloud.createdAt | date("d-m-Y h:i") }}',
                imageUrl: '{{ path('sn_cloud_render', {'id': cloud.id, 'width': 100, 'height': 100}) }}'
            },
            {% endfor -%}
        ];

        SnCloud.fn.startup().then(function () {
            new SnCloud.Views.CloudsView({
                collection: new SnCloud.Models.CloudCollection(data)
            }).render();
        });

    </script>

{% endblock %}
