{% extends 'SixtyNineCloudBundle::layout.html.twig' %}

{% set curPage = 'cloud' %}
{% set pageTitle = 'List clouds' | trans  %}
{% set pageHeader = 'Cloud' | trans  %}
{% set pageSubHeader = 'List' | trans  %}
{% set breadcrumb = [
    { title: 'Cloud' | trans }
] %}

{% block buttons %}
    <a href="{{ path('sn_cloud_create') }}" class="btn btn-default">
        {{ 'Create a new cloud' | trans }}
    </a>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
        <div class="clouds">
            {% for cloud in clouds %}
            <div class="cloud">
                <div class="image">
                    <a href="{{ path('sn_cloud_view', {'id': cloud.id}) }}">
                        <img src="{{ path('sn_cloud_render', {'id': cloud.id, 'width': 200, 'height': 200}) }}" />
                    </a>
                </div>
                <div class="actions">
                    <a href="{{ path('sn_cloud_generate', {'id': cloud.id}) }}" class="btn btn-default btn-xs">
                        {{ 'Regenerate' | trans }}
                    </a>
                    <a href="#" class="btn btn-default btn-xs">
                        {{ 'Edit' | trans }}
                    </a>
                    <a href="#" class="btn btn-default btn-xs">
                        {{ 'Delete' | trans }}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}

    <script type="text/javascript">

        $(function () {
        });

    </script>

{% endblock %}
